*{
    margin: 10px;
}
body{
    background-color: rgb(177, 87, 177);
}
.contenedor{
    background-color:blueviolet;
    border-radius: 25px;
}
.boton{
    background-color: antiquewhite;
}
.card{
    
    background-color:blueviolet;
    box-shadow: 0 4px 8px 0 white;
    overflow: hidden;
    max-width: 600px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
  }
  input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  *{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #e6edde;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/img/fondo\ mor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.fondo{
    padding: 32px 0;
   background-color: rgb(170, 81, 214);
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}
.logo{
    font-size: 30px;
    color:white;
    font-weight: 800;
    text-transform: uppercase;

}
.menu .navbar ul li{
    position: relative;
    float: left;

}
.menu ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display:  block;
}
.menu .navbar ul li a:hover{
    color: aquamarine;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
   cursor: pointer;
   display: none;
}
#menu:checked ~ .navbar{
    display: initial;
}
.fondo{
    padding: 47px 0;
}
@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #2A394F;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    } 
}/*termina el media*/